<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BoltUI</title>
    <link rel="shortcut icon" href="favicon.svg" type="image/x-svg" />
    <link rel="stylesheet" href="ui.min.css" />
    <script src="ui.min.js" defer></script>
  </head>

  <body id="app" @vue:mounted="onMounted" @vue:unmounted="onUnmounted" v-scope>
    <header>
      <h1>
        <a v-to="bucketUrl(0)">{{db.name}}</a>
        <span>{{db.dir}}</span>
      </h1>
    </header>

    <nav>
      <ul>
        <li>
          <a v-to="bucketUrl(0)">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 32 32" v-scope="Icon('home')"></svg>
            <span>root</span>
          </a>
        </li>
        <li v-for="(key, i) in buckets" :key="i">
          <a v-to="bucketUrl(i+1)">
            <span>{{ b2s(key) }}</span>
          </a>
        </li>
      </ul>

      <span class="flex-auto"></span>
      <span class="flex-line gap-2" v-if="isAction('list')">
        <a v-to="{ action:'new', bucket }" class="btn primary text text-xs">创建桶</a>
        <a v-to="{ action:'set', bucket }" class="btn primary text text-xs" v-if="buckets?.length">创建键</a>
      </span>
    </nav>

    <div v-if="error" class="error">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32" v-scope="Icon('alert')"></svg>
      <span>{{error}}</span>
    </div>

    <main>
      <ul>
        <li v-if="buckets?.length" key="__go_up">
          <a v-to="bucketUrl(-1)">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 32 32" v-scope="Icon('dir')"></svg>
            <span>上一级</span>
          </a>
        </li>
        <li v-for="item in list" :key="item.key">
          <a v-to="itemUrl(item)" :title="item.key">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="19"
              viewBox="0 0 32 32"
              v-scope="Icon()"
              v-effect="name = item.dir ? 'dir' : isKey(item.key) ? 'key_open' : 'key'"
            ></svg>
            <span>{{ b2s(item.key) }}</span>
          </a>
          <button
            class="text-xs btn text danger"
            v-confirm="{text:`确认删除【${b2s(item.key)}】吗?`, onOk: ()=>handleDel(item.key)}"
          >
            删除
          </button>
        </li>
      </ul>
    </main>

    <aside v-if="isAction('get','set','new')">
      <div v-if="isAction('get')">
        <div class="flex-none flex items-center">
          <label class="flex-auto">键:</label>

          <div class="flex-line flex-none text-xs gap-2">
            <label class="flex-line flex-none gap-1">
              <input type="radio" v-model="show_type" value="text" />
              <span>Text</span>
            </label>
            <label class="flex-line flex-none gap-1">
              <input type="radio" v-model="show_type" value="base64" />
              <span>Base64</span>
            </label>
            <a v-to="{ action:'list', bucket }" class="flex-none btn text text-xs">关闭</a>
          </div>
        </div>

        <pre class="code flex-none" :data-language="show_type">{{ show_type==='text' ? textKey : key }}</pre>
        <div class="flex-none">值:</div>
        <pre class="code flex-auto" data-language="base64" v-if="show_type==='base64'">{{ value }}</pre>
        <textarea class="code flex-auto" rows="5" v-model="editor_value" v-else></textarea>
        <div class="flex-none" v-if="changed"><button class="btn primary" @click="handleUpdate()">保存</button></div>
      </div>

      <div v-if="isAction('new')">
        <div class="flex-none flex items-center">
          <label>新建桶名称:</label>
          <span class="flex-auto"></span>
          <a v-to="{ action:'list', bucket }" class="btn text text-xs">关闭</a>
        </div>
        <input type="text" class="code flex-none" v-model="editor_key" />
        <div class="flex-none"><button class="btn primary" @click="handleNew()">保存</button></div>
      </div>

      <div v-if="isAction('set')">
        <div class="flex-none flex items-center">
          <label>新建键:</label>
          <span class="flex-auto"></span>
          <a v-to="{ action:'list', bucket }" class="btn text text-xs">关闭</a>
        </div>
        <input type="text" class="code flex-none" v-model="editor_key" />
        <div class="flex-none"><label>值:</label></div>
        <textarea class="code flex-auto" rows="5" v-model="editor_value"></textarea>
        <div class="flex-none"><button class="btn primary" @click="handleSet()">保存</button></div>
      </div>
    </aside>

    <div id="slash" v-if="!loaded">
      <div class="loading loading-ball-scale"></div>
    </div>
  </body>
</html>
